body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
  }

.content {
  flex: 1;
  margin-bottom: 50px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  border-top: 2px solid rgba(0, 13, 131, 255);
  padding: 10px;
  text-align: center;
  z-index: 2;
}

.footer img {
  margin-left: 15px;
  margin-right: 15px;
}

 #image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
  }
  
 #login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
  }


.forgot-container {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}



.login-image {
  text-align: center;
  margin-top: 60px;
  padding-bottom: 10px;
}

.forgot-image {
  text-align: center;
  margin-top: 60px;
  padding-bottom: 10px;
}

.register-image-container{
  position: relative;
  width: 50vw;
  max-width: 480px;
  margin: 20px auto;
  aspect-ratio: 1/1;
}

.register-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  border-radius: 50%;
}

.input-row{
  display: flex;
  flex-direction: column;
  margin: 10px;
  position: relative;
}

.input-row input {
  margin-bottom: 10px;
}

.input-row input[type="text"],
.input-row input[type="password"],
.input-row input[type="email"],
.input-row input[type="phone"],
.input-row input[type="gender"],
.input-row input[type="dob"] {
  padding: 20px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  transition: border-bottom-color 0.3s ease;
}

.input-row input[type="post"] {
  padding: 20px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  transition: border-bottom-color 0.3s ease;
  border-bottom-color: black;
}

.input-row input[type="post"]:focus,
.input-row input[type="post"]:not(:placeholder-shown) {
  border: 1px solid #ccc;
  border-bottom: 2px solid black;
}

.input-row input[type="text"]:focus,
.input-row input[type="password"]:focus,
.input-row input[type="email"]:focus,
.input-row input[type="phone"]:focus,
.input-row input[type="gender"]:focus,
.input-row input[type="dob"]:focus,
.input-row input[type="text"]:not(:placeholder-shown),
.input-row input[type="password"]:not(:placeholder-shown),
.input-row input[type="email"]:not(:placeholder-shown),
.input-row input[type="phone"]:not(:placeholder-shown),
.input-row input[type="gender"]:not(:placeholder-shown),
.input-row input[type="dob"]:not(:placeholder-shown) {
  border: 1px solid #ccc;
  border-bottom-color: black;
}

.select-container {
  position: relative;
}

.select-container select {
  padding: 20px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  transition: border-bottom-color 0.3s ease;
  width: 100%;
}

.select-container select:focus,
.select-container select:not(:placeholder-shown) {
  border: 1px solid #ccc;
  border-bottom-color: black;
}

.button-row{
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.password {
  display: flex;
  align-items: center;
  position: relative;
}

.forgot {
  position: absolute;
  top: 75%;
  right: 20%;
  transform: translateY(-50%);
  margin-right: 5px;
  color: #6EC1E4;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

.forgot a {
  color: #6EC1E4;
  text-decoration: none;
}

.sign-in {
  background: linear-gradient(to right,rgba(1,255,231,255),rgba(23,42,255,255));
  border-radius: 30px;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
}

.post {
  background: linear-gradient(to left,rgba(140,217,255,255),rgba(7,19,255,255));
  border-radius: 10px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.post a {
  color: white;
  text-decoration: none;
}

.button-row a {
  color: white;
  text-decoration: none;
}

.register {
  background: linear-gradient(to left,rgba(1,255,231,255),rgba(23,42,255,255));
  border-radius: 30px;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
}

.reset {
  color: white;
  background: linear-gradient(to left,rgba(1,255,231,255),rgba(23,42,255,255));
  border-radius: 30px;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
}

.signup-text {
  text-align: center;
  color: black;
}

.signup-text a {
  color: black;
  text-decoration: none;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  margin: 10px;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 5px;
}

.checkbox-container label {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.social-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.social-container button {
  border: 3px solid;
  border-color: rgba(17, 29, 139, 255);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.social-container button img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.social-container button span a{
  font-size: 14px;
  color: black;
  text-decoration: none;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

.category-container {
  border-bottom: 3px solid rgba(0, 13, 131, 255);
  padding-bottom: 20px;
}

.category-container img {
  width: 60px;
  height: 60px;
}

.allCategory-container {
  border-bottom: 3px solid rgba(0, 13, 131, 255);
  padding-bottom: 20px;
}

.allCategory-container img {
  width: 45px;
  height: 45px;
}

.post-container {
  text-align: center;
  margin-bottom: 100px;
}

.profile-container{
  text-align: center;
  margin-top: -10px;
}

.fashion-container {
  text-align: center;
}

.plus-image {
  position: relative;
  display: inline-block;
  top: -20px;
  z-index: 1;
}

.plus-image::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 25, 255, 255);
  z-index: -1;
}

.background-container {
  background-image: url("background.jpeg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 40%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.profile-pic-container {
  position: relative;
  width: 50vw;
  max-width: 480px;
  margin: 20px auto;
  overflow: hidden;
  z-index: 2;
  aspect-ratio: 1/1;
}

.profile-pic {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  border-radius: 50%;
}

.setting-image {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  z-index: 1;
}

.more {
  text-align: center;
  padding: 5px;
  border-top: 3px solid rgba(0, 25, 255, 255);
  border-bottom: 3px solid rgba(0, 25, 255, 255);
}

.more a{
  font-size: 10px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post_page {
  background-color: black;
  border: 2px solid white;
  border-radius: 30px;
}

.photo-row {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.photo-column {
  flex: 1 1 auto;
  display: inline-block;
  margin: 10px;
  width: calc(100%/4);
}

.post-box {
  max-width: 490px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
}

.post-box p {
  margin-left: 10px;
  margin-bottom: -10px;
  font-family: Arial, Helvetica, sans-serif;
}

.post-box textarea {
  font-family: Arial, Helvetica, sans-serif;
  width: 450px;
  height: 90px;
  padding-top: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.post-box button {
  background: linear-gradient(to right,rgba(1,255,231,255),rgba(23,42,255,255));
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.header {
  background-color: rgba(46,49,146,255);
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon {
  width: 20px;
  height: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
  margin-left: -20px;
}

.search-input {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 14px;
  padding: 7px;
  padding-right: 20px;
  width: 200px;
  border-bottom: 1px solid white;
  outline: none;
}

.search-input::placeholder {
    padding-left: 5px;
    color: white;
}

.chat-icon {
  width: 30px;
  height: 30px;
  margin-bottom: -15px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-right: -30px;
}

.friend-list {
  display: flex;
  flex-direction: column;
}

.friend-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.friend-item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.friend-item .friend-details {
  display: flex;
  flex-direction: column;
}

.friend-item .friend-name {
  font-weight: bold;
}

.friend-item .last-message {
  font-size: 12px;
  color: #888;
}

.search_row {
  display: flex;
  flex-wrap: wrap;
}

.search_column {
  flex-basis: calc(100% / 3);
}

.search_column a img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.section-content {
  margin-right: 15px;
  text-align: left;
  font-size: x-small;
  position: relative;
  padding-top: 8px;
  padding-bottom: 15px;
  flex: 1;
}

.section-content h3 {
  margin-top: -5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-content:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, cyan, blue);
}

.other-section-content {
  margin-left: 15px;
  text-align: right;
  font-size: x-small;
  position: relative;
  padding-top: 8px;
  padding-bottom: 15px;
  flex: 1;
}

.other-section-content h3 {
  margin-top: -5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.other-section-content:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left, cyan, blue);
}

.date {
  color: #65cef2;
  font-family: 'Yantramanav';
}

.user-profile {
  margin-right: 10px;
  text-align: center;
  margin-left: 10px;
}

.user-profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.border {
  border: 2px solid;
  padding-top: 10px;
  margin: 10px;
}

.border h2 {
  text-align: center;
  font-size: small;
  margin: 5px;
}